
body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url('../Images/telón.png');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}
h1 {
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
p {
    margin-top: 20px;
}
.menu {
    color: #eee;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #326bd4;
    border: 2px solid #0C1D60;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Sin subrayado */
}
.nav-link {
    color: azure; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
}
.nav-link:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}